.Landing {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  background-image: url("../../Imagenes/landing.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #e0fbfc;
  font-family: "Ubuntu";
  font-size: xx-large;
}

.btn {
  font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  position: relative;
  display: inline-block;
  margin: 20%;
  padding: 15px 30px;
  background-color: #586eb4;
  color: ivory;
  letter-spacing: 4px;
  font-size: 24px;
  text-decoration: none;
  overflow: hidden;
  transition: 1s;
  border: none;
  border-radius: 2px;
}

.btn:hover {
  cursor: pointer;
  background: #133fb8;
  box-shadow: 0 0 10px #133fb8, 0 0 40px #133fb8, 0 0 80px #133fb8;
}
