body {
  /* background-image: url("../src/Imagenes/Fondo_Home.jpg"); */
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(134, 154, 243, 0.966);
  margin: 0;
}
/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
